{% extends "header-footer.html" %}

{% block content %}
	<div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
		<section class="content-section music-btn">
			<div id="music-box">
			<form method="post" action="wplay">
				<input name="song" placeholder="Nhập tên bài hát cần phát">
				<button type="submit"> Tìm và phát </button> 
			</form>
			</div>
			<div class="btn-group">
				<form method="post" action="prev">
					<button type="submit"><i class="fa fa-backward" aria-hidden="true"></i></button> </form>
				<form method="post" action="play">
					<button type="submit"><i class="fa fa-play" aria-hidden="true"></i></button> </form>
				<form method="post" action="next">
					<button type="submit"><i class="fa fa-forward" aria-hidden="true"></i></button> </form>
				<form method="post" action = "stop">
					<button type="submit"><i class="fa fa-pause" aria-hidden="true"></i></button> </form>
				<form method="post" action = "volup">
					<button type="submit"><i class="fa fa-volume-up" aria-hidden="true"></i></button> </form>
				<form method="post" action = "voldown">
					<button type="submit"><i class="fa fa-volume-down" aria-hidden="true"></i></button> </form>
			</div>
		</section>
	
	</div>
{% endblock %}